[Unit]
Description=Telegram Bot service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=root

WorkingDirectory=/root/publish/SemenNewsBot
ExecStart=/root/publish/SemenNewsBot/SemenNewsBot
Restart=on-failure
RestartSec=10
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
